<section id="contact" class="section">
  <div class="container">

    <h5>Kontakt</h5>

    <div class="contact-wrap">

      <div class="contact-info">

        <p>
          Użyj formularza lub napisz do mnie bezpośrednio.
        </p>

        <i class="icon-mail"></i>
        <p class="etmail"><a href="mailto:edyta.tarnowska@gmail.com">edyta.tarnowska@gmail.com</a></p>

        <div class="social-links">
          <a href="https://github.com/morfiwen" target="_blank" title="Github"><i class="icon-github-circled"></i></a>
          <a href="https://www.linkedin.com/in/edyta-tarnowska-02974697/" target="_blank" title="Linkedin"><i class="icon-linkedin"></i></a>
          <a href="https://www.facebook.com/morfiwen" target="_blank" title="Facebook"><i class="icon-facebook"></i></a>
          <a href="https://www.instagram.com/origamifrog/" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
        </div>

      </div>

      <div class="contact-form">

        <form action="https://formspree.io/edyta.tarnowska@gmail.com" method="POST">

          <div class="form-info">
            <label><span>Imię</span>
            <input type="text" name="name">
            </label>

            <label><span>E-mail</span>
            <input type="email" name="_replyto">
            </label>
          </div>

          <div class="form-message">
            <label><span>Wiadomość</span>
            <textarea placeholder="Witaj!" name="message"></textarea>
            </label>
          </div>

          <input class="btn btn-dark" type="submit" value="Wyślij">
          <input type="hidden" name="_next" value="/thankyou/" />
          <input type="hidden" name="_subject" value="Edyta Tarnowska - Nowa wiadomość!!!" />
        </form>

      </div>

    </div>
  </div>
</section>
