<header class="second">

  <nav>
    <div class="menu">
      <ul>
        <li class="menu-a"><a href="..">Strona główna</a></li>
        <li class="menu-a"><a href="..#about">O mnie</a></li>
        <a href=".."><div class="logo"></div></a>
        <li class="menu-a"><a href="#">Blog</a></li>
        <li class="menu-a"><a href="..#contact">Kontakt</a></li>
      </ul>
    </div>
  </nav>

  <div class="mobile-nav-toggle-wrap">
    <a href="#">
      <div class="mobile-nav-logo">
        <div class="logo"></div>
      </div>
    </a>

    <div class="mobile-nav-toggle">
      <span> </span>
    </div>
  </div>

  <div class="mobile-nav">
    <a class="btn btn-dark" href="..">Strona główna</a>
    <a class="btn btn-dark" href="..#about">O mnie</a>
    <a class="btn btn-dark" href="#">Blog</a>
    <a class="btn btn-dark" href="..#contact">Kontakt</a>
  </div>

</header>
