<header>

  <nav>
    <div class="menu">
      <ul>
        <li class="menu-a"><a href="#about">O mnie</a></li>
        <li class="menu-a"><a href="#portfolio">Portfolio</a></li>
        <li><a href="#"><div class="logo"></div></a></li>
        <li class="menu-a"><a href="blog">Blog</a></li>
        <li class="menu-a"><a href="#contact">Kontakt</a></li>
      </ul>
    </div>
  </nav>

  <div class="mobile-nav-toggle-wrap">
    <a href="#">
      <div class="mobile-nav-logo">
        <div class="logo"></div>
      </div>
    </a>

    <div class="mobile-nav-toggle">
      <span> </span>
    </div>
  </div>

  <div class="mobile-nav">
    <a class="btn btn-dark" href="#about">O mnie</a>
    <a class="btn btn-dark" href="#portfolio">Portfolio</a>
    <a class="btn btn-dark" href="blog">Blog</a>
    <a class="btn btn-dark" href="#contact">Kontakt</a>
  </div>

</header>

<div class="header-title">
  <p class="subtitle">Witaj!</p>
  <p class="huge">Jestem Edyta</p>
  <p class="subtitle">i tworzę strony&nbsp;www</p>
</div>

<div class="header-cta">
  <div class="center">
    <a href="#work">
      <p>Co mogę dla Ciebie zrobić?</p>
      <i class="icon-down-open"></i>
    </a>
  </div>
</div>
