<section id="portfolio" class="section">
  <div class="container">
    <h2>Portfolio</h2>
    <div class="line"></div>
  </div>

  <div class="portfolio-container">

    <div class="portfolio-wrap">
      <figure class="portfolio-thumbnail">
        <a href="https://arat.com.pl/" target="_blank"><img src="/assets/img/work/proj14.jpg" alt="Edyta Tarnowska Portfolio - arat.com.pl"></a>
        <figcaption>
          <div class="portfolio-description">
            <a href="https://arat.com.pl/" target="_blank"><h3>Arat DDD</h3></a>
            <p class="icon-links">
              <!-- <a href="#"><i class="icon-github-circled"></i></a> -->
              <a href="https://arat.com.pl/" target="_blank"><i class="icon-link"></i></a>
            </p>
            <p class="description">Responsywna strona statyczna</p>
          </div>
        </figcaption>
      </figure>
    </div>

    <div class="portfolio-wrap">
      <figure class="portfolio-thumbnail">
        <a href="http://jacekropski.pl/" target="_blank"><img src="/assets/img/work/proj13.jpg" alt="Edyta Tarnowska Portfolio - JacekRopski.pl"></a>
        <figcaption>
          <div class="portfolio-description">
            <a href="http://jacekropski.pl/" target="_blank"><h3>Jacek Ropski - skrzypek</h3></a>
            <p class="icon-links">
              <!-- <a href="#"><i class="icon-github-circled"></i></a> -->
              <a href="http://jacekropski.pl/" target="_blank"><i class="icon-link"></i></a>
            </p>
            <p class="description">Responsywna strona oparta na CMS Wordpress</p>
          </div>
        </figcaption>
      </figure>
    </div>

    <div class="portfolio-wrap">
      <figure class="portfolio-thumbnail">
        <a href="http://www.kaminski.org.pl/" target="_blank"><img src="/assets/img/work/proj14.jpg" alt="Edyta Tarnowska Portfolio - Kaminski.org.pl/"></a>
        <figcaption>
          <div class="portfolio-description">
            <a href="http://www.kaminski.org.pl/" target="_blank"><h3>Kamiński - Budownictwo i Zaopatrzenie Przemysłu</h3></a>
            <p class="icon-links">
              <!-- <a href="#"><i class="icon-github-circled"></i></a> -->
              <a href="http://www.kaminski.org.pl/" target="_blank"><i class="icon-link"></i></a>
            </p>
            <p class="description">Responsywna strona oparta na CMS Wordpress</p>
          </div>
        </figcaption>
      </figure>
    </div>

    <div class="portfolio-wrap">
      <figure class="portfolio-thumbnail">
        <a href="http://nova4.pl/" target="_blank"><img src="/assets/img/work/proj12.jpg" alt="Edyta Tarnowska Portfolio - Nova4.pl"></a>
        <figcaption>
          <div class="portfolio-description">
            <a href="http://nova4.pl/" target="_blank"><h3>Przychodnia Lekarska NOVA - "4"</h3></a>
            <p class="icon-links">
              <!-- <a href="#"><i class="icon-github-circled"></i></a> -->
              <a href="http://nova4.pl/" target="_blank"><i class="icon-link"></i></a>
            </p>
            <p class="description">Responsywna strona oparta na CMS Wordpress</p>
          </div>
        </figcaption>
      </figure>
    </div>

    <div class="portfolio-wrap">
      <figure class="portfolio-thumbnail">
        <a href="http://www.adwokatkolodziejczyk.pl/" target="_blank"><img src="/assets/img/work/proj11.jpg" alt="Edyta Tarnowska Portfolio - AdwokarKołodziejczyk.pl"></a>
        <figcaption>
          <div class="portfolio-description">
            <a href="http://www.adwokatkolodziejczyk.pl/" target="_blank"><h3>Adwokat K. Kołodziejczyk</h3></a>
            <p class="icon-links">
              <!-- <a href="#"><i class="icon-github-circled"></i></a> -->
              <a href="http://www.adwokatkolodziejczyk.pl/" target="_blank"><i class="icon-link"></i></a>
            </p>
            <p class="description">Responsywna strona wizytówka</p>
          </div>
        </figcaption>
      </figure>
    </div>

    <div class="portfolio-wrap">
      <figure class="portfolio-thumbnail">
        <a href="http://gniazdo24h.pl/" target="_blank"><img src="/assets/img/work/proj09.jpg" alt="Edyta Tarnowska Portfolio - Gniazdo24h.pl"></a>
        <figcaption>
          <div class="portfolio-description">
            <a href="http://gniazdo24h.pl/" target="_blank"><h3>Gniazdo 24h</h3></a>
            <p class="icon-links">
              <!-- <a href="#"><i class="icon-github-circled"></i></a> -->
              <a href="http://gniazdo24h.pl/" target="_blank"><i class="icon-link"></i></a>
            </p>
            <p class="description">Responsywna strona oparta na Wordpress</p>
          </div>
        </figcaption>
      </figure>
    </div>


    <!--     ZŁADUJ WIĘCEJ     -->

    <div class="btn-load">
      <a class="btn btn-light portfolio-open" data-open-div="portfolio-load">Załaduj więcej</a>
    </div>

    <div class="portfolio-container portfolio-load-div" id="portfolio-load">

      <div class="portfolio-wrap">
        <figure class="portfolio-thumbnail">
          <a href="http://silesiagarden.pl/" target="_blank"><img src="/assets/img/work/proj10.jpg" alt="Edyta Tarnowska Portfolio - SilesiaGarden.pl"></a>
          <figcaption>
            <div class="portfolio-description">
              <a href="http://silesiagarden.pl/" target="_blank"><h3>Silesia Garden</h3></a>
              <p class="icon-links">
                <!-- <a href="#"><i class="icon-github-circled"></i></a> -->
                <a href="http://silesiagarden.pl/" target="_blank"><i class="icon-link"></i></a>
              </p>
              <p class="description">Responsywna strona wizytówka</p>
            </div>
          </figcaption>
        </figure>
      </div>

      <div class="portfolio-wrap">
      <figure class="portfolio-thumbnail">
        <a href="http://insall.pl/" target="_blank"><img src="/assets/img/work/proj08.jpg" alt="Edyta Tarnowska Portfolio - Insall.pl"></a>
        <figcaption>
          <div class="portfolio-description">
            <a href="http://insall.pl/" target="_blank"><h3>Insall</h3></a>
            <p class="icon-links">
              <!-- <a href="#"><i class="icon-github-circled"></i></a> -->
              <a href="http://insall.pl/" target="_blank"><i class="icon-link"></i></a>
            </p>
            <p class="description">Responsywna strona oparta na Wordpress</p>
          </div>
        </figcaption>
      </figure>
    </div>

      <!-- <div class="portfolio-wrap">
      <figure class="portfolio-thumbnail">
        <a href="http://silesiaterm.pl/" target="_blank"><img src="/assets/img/work/proj07.jpg" alt="Edyta Tarnowska Portfolio - SilesiaTerm.pl"></a>
        <figcaption>
          <div class="portfolio-description">
            <a href="http://silesiaterm.pl/" target="_blank"><h3>Silesia Term</h3></a>
            <p class="icon-links">
              <a href="http://silesiaterm.pl/" target="_blank"><i class="icon-link"></i></a>
            </p>
            <p class="description">Responsywna strona oparta na Wordpress</p>
          </div>
        </figcaption>
      </figure>
    </div> -->

      <div class="portfolio-wrap">
        <figure class="portfolio-thumbnail">
          <a href="http://studiozmiany.pl/" target="_blank"><img src="/assets/img/work/proj06.jpg" alt="Edyta Tarnowska Portfolio - StudioZmiany.pl"></a>
          <figcaption>
            <div class="portfolio-description">
              <a href="http://studiozmiany.pl/" target="_blank"><h3>Studio Zmiany</h3></a>
              <p class="icon-links">
                <!-- <a href="#"><i class="icon-github-circled"></i></a> -->
                <a href="http://studiozmiany.pl/" target="_blank"><i class="icon-link"></i></a>
              </p>
              <p class="description">Responsywna strona internetowa</p>
            </div>
          </figcaption>
        </figure>
      </div>

      <div class="portfolio-wrap">
        <figure class="portfolio-thumbnail">
          <a href="http://origamifrog.pl/" target="_blank"><img src="/assets/img/work/proj05.jpg" alt="Edyta Tarnowska Portfolio - OrigamiFrog.pl"></a>
          <figcaption>
            <div class="portfolio-description">
              <a href="http://origamifrog.pl/" target="_blank"><h3>Origami Frog</h3></a>
              <p class="icon-links">
                <a href="https://github.com/morfiwen/wordpress-blog-origamifrog" target="_blank"><i class="icon-github-circled"></i></a>
                <a href="http://origamifrog.pl/" target="_blank"><i class="icon-link"></i></a>
              </p>
              <p class="description">Responsywny blog oparty na Wordpress</p>
            </div>
          </figcaption>
        </figure>
      </div>

      <div class="portfolio-wrap">
        <figure class="portfolio-thumbnail">
          <a href="http://morfiwen.github.io/tiles-grid-flexbox-practice/" target="_blank"><img src="/assets/img/work/proj04.jpg" alt="Edyta Tarnowska Portfolio - Przykładowa strona"></a>
          <figcaption>
            <div class="portfolio-description">
              <a href="http://morfiwen.github.io/tiles-grid-flexbox-practice/" target="_blank"><h3>Przykładowa strona</h3></a>
              <p class="icon-links">
                <a href="https://github.com/morfiwen/tiles-grid-flexbox-practice" target="_blank"><i class="icon-github-circled"></i></a>
                <a href="http://morfiwen.github.io/tiles-grid-flexbox-practice/" target="_blank"><i class="icon-link"></i></a>
              </p>
              <p class="description">Kafelkowa, responsywana strona z portfolio, wykonana z wykorzystaniem flex-box</p>
            </div>
          </figcaption>
        </figure>
      </div>

    <!-- <div class="portfolio-wrap">
      <figure class="portfolio-thumbnail">
        <a href="http://morfiwen.github.io/flexbox-practice-01/" target="_blank"><img src="/assets/img/work/proj03.jpg" alt="Edyta Tarnowska Portfolio - Przykładowa strona"></a>
        <figcaption>
          <div class="portfolio-description">
            <a href="http://morfiwen.github.io/flexbox-practice-01/" target="_blank"><h3>Przykładowa strona</h3></a>
            <p class="icon-links">
              <a href="https://github.com/morfiwen/flexbox-practice-01" target="_blank"><i class="icon-github-circled"></i></a>
              <a href="http://morfiwen.github.io/flexbox-practice-01/" target="_blank"><i class="icon-link"></i></a>
            </p>
            <p class="description">Responsywna strona dla restauracji</p>
          </div>
        </figcaption>
      </figure>
    </div> -->

    <div class="portfolio-wrap">
      <figure class="portfolio-thumbnail">
        <a href="http://morfiwen.github.io/psd-to-html-halcyon/" target="_blank"><img src="/assets/img/work/proj02.jpg" alt="Edyta Tarnowska Portfolio - Przykładowa strona"></a>
        <figcaption>
          <div class="portfolio-description">
            <a href="http://morfiwen.github.io/psd-to-html-halcyon/" target="_blank"><h3>Przykładowa strona</h3></a>
            <p class="icon-links">
              <a href="https://github.com/morfiwen/psd-to-html-halcyon" target="_blank"><i class="icon-github-circled"></i></a>
              <a href="http://morfiwen.github.io/psd-to-html-halcyon/" target="_blank"><i class="icon-link"></i></a>
            </p>
            <p class="description">Responsywna strona wykonana z szablonu PSD</p>
          </div>
        </figcaption>
      </figure>
    </div>

    <div class="portfolio-wrap">
      <figure class="portfolio-thumbnail">
        <a href="http://morfiwen.github.io/bootstrap-landing-page-01/" target="_blank"><img src="/assets/img/work/proj01.jpg" alt="Edyta Tarnowska Portfolio - Przykładowa strona"></a>
        <figcaption>
          <div class="portfolio-description">
            <a href="http://morfiwen.github.io/bootstrap-landing-page-01/" target="_blank"><h3>Przykładowa strona</h3></a>
            <p class="icon-links">
              <a href="https://github.com/morfiwen/bootstrap-landing-page-01" target="_blank"><i class="icon-github-circled"></i></a>
              <a href="http://morfiwen.github.io/bootstrap-landing-page-01/" target="_blank"><i class="icon-link"></i></a>
            </p>
            <p class="description">Responsywna strona - landing page, z wykorzystaniem Bootstrap</p>
          </div>
        </figcaption>
      </figure>
    </div>

  </div>

</section>
