<section id="work">
  <div class="container">
    <h5>W czym mogę Ci pomóc?</h5>
    <ul>
      <li>Potrzebujesz profesjonalnej strony internetowej? <strong>Strony wizytówki</strong> lub <strong>bloga</strong> dla Twojego biznesu?</li>
      <li>Chciałbyś <strong>odświeżyć swoją stronę www</strong> według najnowszych trendów oraz tak, aby wyświetlała się poprawenie na wszystkich urządzeniach?</li>
      <li>Chciałbyś sam <strong>dodawać wpisy</strong> o nowościach i zdjęcia do galerii na swojej stronie?</li>
      <li>Posiadasz gotowy <strong>szablon Wordpress</strong> i chcesz go zmodyfikować pod swoje potrzeby?</li>
      <li>Masz już <strong>projekt graficzny</strong> strony i chciałbyś, aby ktoś ją zakodował?</li>
      <li>Potrzebujesz kogoś, kto będzie opiekował się i <strong>aktualizował</strong> Twoją stronę lub blog?</li>
    </ul>

    <a class="btn btn-dark" href="#contact">Dobrze trafiłeś</a>

    <h5>Najczęściej zadawane pytania</h5>

    <div class="faq-container">

      <div class="faq-question open-answer" data-open-div="01">
        <i class="icon-down-open"></i><h6>Jak będzie wyglądała nasza współpraca?</h6>
      </div>

      <div class="faq-answer open-answer-div" id="01">
        <div class="work-progress">
          <i class="icon-info"></i>
          <div>
            <p>Podajesz mi informacje o wielkości strony, tego co ma się na niej znajdować oraz czy chcesz później samodzielnie dodawać do niej treści.</p>
            <p>Wyceniam pracę i podaję szacunkowy czas wykonania. Im dokładniejsze informacje otrzymam, tym dokładniejsza będzie wycena.</p>
          </div>
        </div>

        <div class="work-progress">
          <i class="icon-pencil"></i>
          <div>
            <p>Wykonuję 3 wtępne szkice układu strony do wyboru.</p>
            <p>Po wyborze jednego z projektów, Ty przesyłasz mi materiały do uzupełnienia strony, a ja przystępuję do jej kodowania.</p>
          </div>
        </div>

        <div class="work-progress">
          <i class="icon-code"></i>
          <div>
            <p>Podczas kodowania strony informuję Cię o postępach i rozmawiamy o ewentualnych poprawkach.</p>
            <p>Gotową stronę umieszczam na serwerze.</p>
          </div>
        </div>

        <div class="work-progress">
          <i class="icon-desktop"></i>
          <div>
            <p>Testujemy stronę przez 14 dni i w razie błędów poprawiam je bezpłatnie.</p>
            <p>Oferuję również miesięczny, odpłatny pakiet utrzymania strony (o opiece nad stroną przeczytasz <span class="open-answer" data-open-div="06">tutaj</span>).</p>
          </div>
        </div>

        <div class="work-progress">
          <i class="icon-smile"></i>
          <p>Cieszymy się z udanej współpracy.</p>
        </div>
      </div>


      <div class="faq-question open-answer" data-open-div="02">
        <i class="icon-down-open"></i><h6>Ile to będzie kosztować?</h6>
      </div>

      <div class="faq-answer open-answer-div" id="02">
        <p>Każdy projekt wyceniam indywiduwlnie, ponieważ każdy z nich jest inny. Cena zależy przede wszystkim od wielkości i zaawansowania projektu oraz ilości podstron i grafik. Oprócz tego ważne jest, czy będzie potrzebny system CMS.</p>
        <p>Najprostszy sposób, aby dowiedzieć się ile będzie kosztować Twój wymarzony projekt, to napisanie do mnie maila z zapytaniem. Opisz w nim co mniej więcej chcesz zawrzeć na stronie i czy chcesz sam edytować treści, a ja podam przybliżoną cenę. To akurat nic nie kosztuje. :)</p>
        <div class="center"><a class="btn btn-light" href="#contact">Zadaj pytanie o wycenę</a></div>

      </div>

      <div class="faq-question open-answer" data-open-div="03">
        <i class="icon-down-open"></i><h6>Jak wygląda rozliczenie?</h6>
      </div>

      <div class="faq-answer open-answer-div" id="03">
        <p>Prowadzę własną działalność gospodarczą i wystawiam faktury bez VAT.</p>

      </div>

      <div class="faq-question open-answer" data-open-div="04">
        <i class="icon-down-open"></i><h6>Ile trwa stworzenie strony www?</h6>
      </div>

      <div class="faq-answer open-answer-div" id="04">
        <p>Tutaj również wszystko zależy od złożoności projektu, ale również od szybkości dostarczenia materiałów i naszego kontaktu.</p>
        <p>Przeważnie stworzenie prostej strony trwa maksymalnie 2 tygodnie.</p>
      </div>

      <div class="faq-question open-answer" data-open-div="05">
        <i class="icon-down-open"></i><h6>Czy będę mieć możliwość samodzielnego dodawania treści do strony?</h6>
      </div>

      <div class="faq-answer open-answer-div" id="05">
        <p>Oczywiście, jak najbardziej jest to do zrobienia. Strona taka wymaga <strong>Systemu Zarządzania Treścią</strong>. Ja pracuję na systemie Wordpress, który jest bardzo przyjazny jeśli chodzi o późniejsze dodawanie własnych treści czy zdjęć. Po zakończeniu pracy nad taką stroną, przesyłam instrukcję obsługi panelu, który umożliwia samodzielne dodawanie na przykład wpisów w nowościach.</p>
        <p>Jeśli potrzebujesz strony, na której będziesz chciał sam dodawać treści, zaznacz to proszę w mailu z zapytaniem.</p>
        <p>Oprócz tego oferuję również <span class="open-answer" data-open-div="06">opiekę nad stroną lub blogiem</span> - ja uzupełniam stronę dodając przesłane przez Ciebie materiały, a Ty niczym się nie martwisz.</p>
      </div>

      <div class="faq-question open-answer" data-open-div="06">
        <i class="icon-down-open"></i><h6>Na czym polega opieka nad stroną?</h6>
      </div>

      <div class="faq-answer open-answer-div" id="06">
        <p><strong>Opieka nad stroną</strong> to misięczna usługa w skład której wchodzą:
          <ul>
            <li>aktualizacje treści witryny www na podstawie przesłanych materiałów (wpisy, zdjęcia),</li>
            <li>podstawowa obróbka i retusz zdjęć,</li>
            <li>kontrola działania systemu CMS,</li>
            <li>aktualizacje systemu i wykorzystanych modułów,</li>
            <li>zapewnienie poprawności działania strony,</li>
            <li>poprawki na stronie (np. dodawanie nowych oraz modyfikowanie istniejących podstron),</li>
            <li>poprawa jakości kodu i podłączenie statystyk,</li>
            <li>tworzenie backupów strony (zapasowych kopii bezpieczeństwa),</li>
            <li>optymalizowanie wpisów pod kątem SEO.</li>
          </ul>
        </p>
        <p>Jeśli więc nie znasz się na robieniu kopii zapasowych, bezpieczeństwa, opytymalizacji SEO lub jeśli nie masz czasu samemu uzupełniać swojej strony - mogę zrobić to za Ciebie.</p>
        <p>W zależności od tego co potrzebujesz, ja przygotuję dla Ciebie <strong>specjalny pakiet</strong>, który będzie dopasowany do Twoich potrzeb, również cenowo.</p>
        <div class="center"><a class="btn btn-light" href="#contact">Zadaj pytanie o wycenę</a></div>

      </div>

      <div class="faq-question open-answer" data-open-div="07">
        <i class="icon-down-open"></i><h6>Czy opiekujesz się również blogami?</h6>
      </div>

      <div class="faq-answer open-answer-div" id="07">
        <p>Jak najbardziej. Jeśli prowadzisz swój blog i chcesz skupić się na jego treści, a nie na aspektach technicznych - zajmę się tym za Ciebie.</p>
        <p><strong>Opieka nad blogiem</strong> polega na aktualizacjach Wordpressa oraz wtyczek, tworzeniu zpasowych kopii bezpieczeństwa oraz monitorowaniu strony. Jeśli będziesz mieć jakiś problem, również będziesz mógł/mogła się do mnie zwrócić.</p>
        <p>Usługa opieki nad blogiem to miesięczny koszt 50 zł.</p>
        <div class="center"><a class="btn btn-light" href="#contact">Kontakt ze mną</a></div>


      </div>

      <div class="faq-question open-answer" data-open-div="08">
        <i class="icon-down-open"></i><h6>Zdecydowałem/am się na stronę, co teraz?</h6>
      </div>

      <div class="faq-answer open-answer-div" id="08">
        <p>Jeśli jesteż już zdecydowany/a, że chcesz mieć włąsną stronę internetową, wyślij do mnie maila z opisem Twojego projektu.</p>
        <p>Będzisz również potrzebować serwera oraz domeny. Służę pomocą jeśli chodzi o ich wybór.</p>
        <p>Następnie zbierasz wszystkie materiały potrzebne na stronę, a ja przystępuję do jej tworzenia.</p>
        <div class="center"><a class="btn btn-light" href="#contact">Kontakt ze mną</a></div>

      </div>


    </div>

    <p>Masz więcej pytań?</p>
    <div class="center"><a class="btn btn-dark" href="#contact">Pytaj śmiało</a></div>

  </div>

</section>
