<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Projektowanie stron internetowych | Edyta Tarnowska</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Responsywne strony internetowe, wizytówki www, blog lub strona oparta na Wordpress (CMS), cięcie szablonów PSD do HTML">
  <meta name="author" content="Edyta Tarnowska">
  <link rel="shortcut icon" href="/assets/img/icon_et.png">
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>

{% include header_second.html %}

<div id="blog">

  <div class="container">
    {{content}}
  </div>

</div>

{% include footer.html %}

<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>
