---
layout : base
title : Tagi | Blog | Projektowanie stron internetowych | Edyta Tarnowska
---

<div class="post-header">

  <nav>
    <div class="menu">
      <ul>
        <a href="../../../../.."><div class="logo"></div></a>
        <li class="menu-a"><a href="../../../../../blog"><i class="icon-left-open"></i> Powrót</a></li>
      </ul>
    </div>
  </nav>

</div>

<div id="blog">
  <div class="container">

    <h2>Tag: {{ page.tag }}</h2>
    <div>
      {% if site.tags[page.tag] %}
          {% for post in site.tags[page.tag] %}
            <article>
              <div class="post-header">
                <h2><a href="{{post.url}}" class="post-title">
                  {{post.title}}
                </a></h2>
                <p>
                  <time datetime="{{post.date}}">
                    {{post.date | tdate: 'post.date_format' | date: "%d-%m-%Y"}}
                  </time>
                </p>
              </div>
              <div class="post-content">
                {{post.content | truncatewords: 40 | split:"more" | first}}
              </div>
              <div class="post-readmore">
                <a class="btn btn-light" href="{{post.url}}">Czytaj dalej...</a>
              </div>
            </article>
          {% endfor %}
      {% else %}
          <p>There are no posts for this tag.</p>
      {% endif %}
    </div>


  </div>
</div>

{% include footer.html %}



