---
layout : base
title : {{ site.title }}
comments: true
---

<div class="post-header">

  <nav>
    <div class="menu">
      <ul>
        <a href="../../../../.."><div class="logo"></div></a>
        <li class="menu-a"><a href="../../../../../blog"><i class="icon-left-open"></i> Powrót</a></li>
      </ul>
    </div>
  </nav>

</div>


<div id="blog">
  <div class="container">

    <section id="blog-posts">
      <article>
        <div class="post-header">
          <h2 class="post-title">
            {{page.title}}
          </h2>
          <ul class="post-tags">
            {% for tags in page.tags %}
              <li><a href="/blog/tag/{{ tags }}/">| {{ tags }} |</a></li>
            {% endfor %}
          </ul>
          <time datetime="{{post.date}}">{{page.date | tdate: 'post.date_format' | date: "%d-%m-%Y"}}</time>
        </div>
        <div class="post-content">
          {{ content }}
        </div>
      </article>
    </section>

    <div class="disqus-comments">
      <h2>Komentarze</h2>
      {% include _disqus.html %}
    </div>

  </div>
</div>




{% include footer.html %}
