---
layout : base
title : post_layout
comments: true
---

<div class="post-header">

  <nav>
    <div class="menu">
      <ul>
        <a href="../../../../.."><div class="logo"></div></a>
        <li class="menu-a"><a href="../../../../../blog"><i class="icon-left-open"></i> Powrót</a></li>
      </ul>
    </div>
  </nav>

</div>


<div id="blog">
  <div class="container">

    <section id="blog-posts">
      <article>
        <div class="post-header">
          <h2 class="post-title">
            {{page.title}}
          </h2>
          <ul class="post-tags">
            {% for tags in page.tags %}
              <li><a href="/blog/tag/{{ tags }}/">| {{ tags }} |</a></li>
            {% endfor %}
          </ul>
          <time datetime="{{post.date}}">{{page.date | tdate: 'post.date_format' | date: "%d-%m-%Y"}}</time>
        </div>
        <div class="post-content">
          {{ content }}
        </div>
      </article>
    </section>

  </div>
</div>

<div class="disqus-comments">
  {% if page.comments %}

  <div id="disqus_thread"></div>
    <script type="text/javascript">

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

    var disqus_config = function () {
    this.page.url = 'edytatarnowskablog';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = '{{ page.url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://projektowanie-stron-internetowych-edyta-tarnowska.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

      {% endif %}
  </div>


{% include footer.html %}
